<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tw.idv.hunterchen.persistence.mapper.AccountMapper">
	<insert id="insert" parameterType="tw.idv.hunterchen.persistence.model.AccountModel">
		INSERT INTO account (name, password) VALUES (name, password) ;
	</insert>
	
	<insert id="insert" parameterType="tw.idv.hunterchen.persistence.model.AccountModel">
		INSERT INTO account (name, password) VALUES (name, password) ;
	</insert>
	
	<select id="selectAll" resultType="AccountModel">
		SELECT * FROM `account`;
    </select>
	<select id="selectOneById" parameterType="Integer" resultType="AccountModel">
		SELECT * FROM `account` WHERE id = #{id} ;
    </select>
	<select id="selectOneByName" parameterType="String" resultType="AccountModel">
		SELECT * FROM `account` WHERE name = #{name} ;
    </select>
    
    <delete id="deleteOneByName" parameterType="String" returnType="Integer">
    	DELETE FROM account WHERE name= #{name} ;
    </delete>
</mapper>