<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="tw.idv.hunterchen.lab.mapper.AppConfigMapper">
	<select id="getRecordByKey" parameterType="java.lang.String" resultType="tw.idv.hunterchen.persistence.model.AppConfigModel">
		select * from `app_config` where 1=1 and key_name = #{keyName};
    </select>
    
	<select id="getValueByKey" parameterType="java.lang.String" resultType="java.lang.String">
		select key_value from `app_config` where key_name = #{keyName};
    </select>
    
    <insert id="insertAppConfig">
    	insert into app_config(key_name, key_value) values(#{keyName}, #{keyValue})
    </insert>

</mapper>