@charset "UTF-8";
/*  
*/
body {
	background-color: #DDFFDD;
	margin: 80px;
}

.field_name{
	font-family: sans-serif;
	font-size: 2cm;
	background-color: #ffcccc;
}
.field_value{
	font-family: monospace;
	font-size: 20mm;
}